html {
  background-color: #f2f2f2;
  body {
    display: flex;
    justify-content: center;
    .container {
      .loader {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .movies {
        width: 100vw;
        padding: 3em 50pt 3em 50pt;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
